= form_for @form do |form|
  - if @form.errors.any?
    = pluralize(@form.errors.count, "error")
    prevented your account from being created:
    %ul
      - @form.errors.full_messages.each do |error_message|
        %li= error_message
  %div
    = form.label :email
    = form.email_field :email
  %div
    = form.label :password
    = form.password_field :password
  %div
    = form.label :password_confirmation
    = form.password_field :password_confirmation
  %div
    = form.submit "Sign up"
