= link_to 'パスワードを忘れた方はこちら', new_password_reset_path
= form_for :session, url: sessions_path do |form|
  %div
    = form.label :email
    = form.email_field :email
  %div
    = form.label :password
    = form.password_field :password
  %div
    = form.submit "Sign in"
